.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.loading-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: auto;
    height: auto;
}

.loading-item {
    padding: 0.5rem;
}

// Buttons that make changes in the map
.actions-container {
    position: absolute;
    bottom: 0%;
    z-index: 1000;
    padding: 1rem;

    button {
        margin-right: 0.5rem;
    }

    .button-icon {
        display: none;
    }

    // Badge around the active filter
    .filter-active-indicator{
        display: inline-block;
        background-color: red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-left: 5px;
    }

    @media (max-width: 768px) {
        button {
            margin-top: 0.5rem;
        }

        .button-text {
            display: none;
        }

        .button-icon {
            display: inline-block;
        }

    }
}