<div class="map-container">

    <!-- Loading progress -->
    @if(isLoadingTracks){
    <div class="loading-container">
        <mat-progress-spinner mode="indeterminate"
            diameter="30"></mat-progress-spinner>
        @if(tracksToDownload()>0){
        <span
            class="loading-item">
            <mat-chip disabled="false">
                {{downloadedTracks()}}/{{tracksToDownload()}}
            </mat-chip>
        </span>
        }
    </div>
    }

    <!-- Map -->
    <div class="map-frame">
        <div id="map"></div>
    </div>

    <!-- Actions -->
    <div class="actions-container">
        <button mat-flat-button (click)="showTracksForCurrentScreen()"
            matTooltip="Show all tracks that have a point in the displayed area">
            <span class="button-text">Show tracks</span>
            <span class="button-icon material-icons">track_changes</span>
        </button>
        <button mat-flat-button (click)="showHeatmapForCurrentScreen()"
            matTooltip="Show the heatmap of all tracks">
            <span class="button-text">Show heatmap</span>
            <span class="button-icon material-icons">blur_on</span>
        </button>
        <button mat-raised-button
            [disabled]="displayedTracks.length == 0 && displayedHeatmap.length==0"
            [disabledInteractive]="displayedTracks.length == 0 && displayedHeatmap.length==0"
            matTooltip="Remove the displayed information from the map"
            color="secondary"
            (click)="clearMap()">
            <span class="button-text">Clear</span>
            <span class="button-icon material-icons">delete</span>
        </button>
    </div>
</div>