.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.loading-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: auto;
    height: auto;
}

.loading-item{
    padding: 0.5rem;
}

.actions-container {
    position: absolute;
    bottom: 0%;
    z-index: 1000;
    padding: 1rem;
}

.actions-container > button{
    margin-right: 0.5rem;
}