<div class="map-container">

    <!-- Loading progress -->
    @if(isLoadingTracks){
    <div class="loading-container">
        <mat-progress-spinner mode="indeterminate"
            diameter="30"></mat-progress-spinner>
        @if(tracksToDownload()>0){
        <span
            class="loading-item">
            <mat-chip disabled="true">
                {{downloadedTracks()}}/{{tracksToDownload()}}
            </mat-chip>
        </span>
        }
    </div>
    }
    <!-- Map -->
    <div class="map-frame">
        <div id="map"></div>
    </div>

    <!-- Actions -->
    <div class="actions-container">
        <button mat-flat-button (click)="showTracksForCurrentScreen()"
            matTooltip="Show all tracks that have a point in the displayed area">Show
            tracks</button>
        <button mat-raised-button
            [disabled]="displayedTracks.length == 0"
            [disabledInteractive]="displayedTracks.length == 0"
            matTooltip="Remove the displayed tracks from the map"
            color="secondary"
            (click)="clearTracks()">Clear tracks</button>
    </div>
</div>